<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>  </title>
  </head>
  <body>
 <h1>El mejor Blog </h1>
	 <h2> <%= @list[@index].title %>  </h2>
		 <p> <%= @list[@index].category %>  </p>
		 <p> <%= @list[@index].author %>  </p>
		 <p> <%= @list[@index].date %>  </p>
		 <p> <%= @list[@index].text %>  </p>

  </body>
</html>
